@model List<ProductType>

<div>
    <a asp-controller="ProductTypes" asp-action="Create" class="btn btn-primary">Create</a>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <
            </tr>
        </thead>

        <tbody>
            @foreach (var ProductType in Model)
            {
                <tr>
                    <td>
                        @ProductType.Id
                    </td>
                    <td>
                        @ProductType.Name
                    </td>
                    <td>
                        @ProductType.Description
                    </td>
                    <td>
                    <a asp-controller="ProductTypes"
                   asp-action="Edit"
                   asp-route-id="@ProductType.Id"
                   class="btn btn-secondary">
                        Edit
                    </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

