@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<head>
    <title>Tasty </title>
    <link rel="stylesheet" href="css/app.css" />
</head>
<body>

    <ul class="menu">
        <li>
            <a href="/"> </a>
            Home
        </li>

        <li>
            <a href="./menu.html"> </a>
            Menu
        </li>

        <li>
            <a href="./contactus.html"> </a>
            Contact Us
        </li>
    </ul>
    <div>
        <img class="mainpic" src="./images/rest.jpg" />
        <span class="description">
            THE BEST RESTAURANTS WITH A VIEW OF THE CITY
            Entrees With a Side Order of Sunsets
        </span>
    </div>

    <p>
        Despite all that's transpired during the pandemic, L.A. is still host to one of the most innovative, exciting and diverse food scenes in the country. Brick-and-mortar restaurants, Instagram pop-ups, street vendors and food trucks: No matter the form, you can find amazing food in a city whose reputation is built as much on off-the-beaten-path tacos and pop-ups as it is on fine dining-trained chefs making quick work of farmers’ market produce and mainline access to the top-notch Pacific seafood.

        At its core, L.A.'s restaurant scene thrives on diversity, resulting in genre-bending formats and cuisines that have given rise to some of the country’s best omakase restaurants, fine dining institutions and strip mall hidden gems. Our experts scour the city for great eats and great insider info. We value fun, flavor, freshness—and value at every price point. We update our list regularly to reflect changes in menu offerings, style of service, new locations and the ever-changing pulse of the city’s food scene. If it’s on the list, we think it’s awesome and worth the hype, wait and money —and we bet you will, too.
    </p>
    <br>
    <br>
    <br>
    <div>
        <a href="./menu.html">
            <input class="button" type="submit" value="Next Page">
        </a>
    </div>


</body>
</html>