@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<head>
    <title>Tasty </title>
    <link rel="stylesheet" href="css/menu.css" />
</head>
<body>

    <ul class="menu">
        <li>
            <a href="./index.html"> </a>
            Home
        </li>

        <li>
            <a href="/"> </a>
            Menu
        </li>

        <li>
            <a href="./contactus.html"> </a>
            Contact Us
        </li>
    </ul>

    <h1> PIZZA MENU </h1>
    <div class="pizzas">
        <img class="pizza1" src="./images/pizza1.jpg">
        <img class="pizza2" src="./images/pizza2.jpg">
        <img class="pizza3" src="./images/pizza3.jpg">
    </div>

    <div class="pizzamenu">
        <p>
            The Meaty
            Pepperoni, ham, sausage, ground beef, bacon
        </p>
        <p>
            The Veggie
            Mushroom, tomato, bell pepper, red onion, black olives
        </p>
    </div>
    <br>
    <br>
    <br>
    <div>
        <a href="./contactus.html">
            <input type="submit" value="Next Page">
        </a>
    </div>

</body>
</html>
