
.menu {
    display: flex;
    justify-content: center;
    background-color: black;
    color: lightgray;
    padding: 10px;
}

    .menu li {
        list-style: none;
        margin: 10px;
    }

.mainpic {
    width: 500px;
    height: 500px;
}

.description {
    border: 1px solid gray;
    padding: 20px;
    width: 1000px;
    height: 1000px;
    margin-bottom: -450px;
}

.button {
    background-color: lightskyblue;
    justify-content: center;
}
