. menu{
    display:flex;
    justify-content: space-evenly;
    background-color: #b59fe2;
    color: #7d5f5f;
    padding: 9px;
}
.menu li{
    list-style: none;
}
    .menu li a {
        color: #7d5f5f;
        text-decoration: none;
    }
    .styled-checkbox{
        display: flex;
        flex-direction:column;
        color: #ac7a7a;
        text-decoration: none;
    }
        .styled-checkbox a {
            color: #ac7a7a;
            text-decoration: none;
        }