@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About";
}
<div class="about-content">

    <div id="bg">
        <img src="~/image/cover.png" />
    </div>

    <div class="story-section">

        <div class="about-text story-text-area">
            <h3 class="discover">
                The Big Daddy`s<br />
                Team
            </h3>
            <div class="story">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publish.
            </div>
        </div>
        <div class="about-image story-image">
            <div class="slideshow-container">
                <div class="mySlides fade">
                    <img src="~/image/about/1.jpg" style="width:100%">
                </div>
                <div class="mySlides fade">
                    <img src="~/image/about/2.jpg" style="width:100%">
                </div>
                <div class="mySlides fade">
                    <img src="~/image/about/3.jpg" style="width:100%">
                </div>
                <div class="mySlides fade">
                    <img src="~/image/about/4.jpg" style="width:100%">
                </div>
                <div class="mySlides fade">
                    <img src="~/image/about/5.jpg" style="width:100%">
                </div>
                <div class="mySlides fade">
                    <img src="~/image/about/6.jpg" style="width:100%">
                </div>
            </div>
            <br>
            <div style="text-align:center">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
            <script>
                let slideIndex = 0;
                showSlides();
                function showSlides() {
                    let i;
                    let slides = document.getElementsByClassName("mySlides");
                    let dots = document.getElementsByClassName("dot");
                    for (i = 0; i < slides.length; i++) {
                        slides[i].style.display = "none";
                    }
                    slideIndex++;
                    if (slideIndex > slides.length) { slideIndex = 1 }
                    for (i = 0; i < dots.length; i++) {
                        dots[i].className = dots[i].className.replace(" active", "");
                    }
                    slides[slideIndex - 1].style.display = "block";
                    dots[slideIndex - 1].className += " active";
                    setTimeout(showSlides, 5000);
                }
            </script>
        </div>
    </div>

</div>
