@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Contacts";
}
<div id="bg">
    <img src="~/image/cover.png">
</div>
<div class="contacts-content">
    <div class="contacts-text">
        <h3 class="discover">
            Our Contacts
        </h3>
        <div class=" contacts-area">
            <div class="contacts-story">
                We are always welcomed to find your feedbacks, be free to contact us by phone or email. Subscribe on our social media and enjoy your time with our delicious foods and stories.
            </div>
            <div class="contacts-links">
                <a href="" class="phone-number">+374-55-666-780</a>
                <a href="" class="email-address">bigdaddysbbq2020@gmail.com</a>
            </div>
        </div>
    </div>
    <div class="map-holder">
        <div class="mapouter">
            <div class="gmap_canvas">
                <iframe class="gmap_iframe" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=640&amp;height=190&amp;hl=en&amp;q=yerevan  9may &amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
                </iframe>
                <a href="https://embedmapgenerator.com">embed code google maps</a>
            </div>
            <style>
                .mapouter {
                    position: relative;
                    text-align: right;
                    width: 100%;
                    height: 190px;
                }

                .gmap_canvas {
                    overflow: hidden;
                    background: none !important;
                    width: 100%;
                    height: 190px;
                }

                .gmap_iframe {
                    height: 190px !important;
                }
            </style>
        </div>
    </div>
</div>
