@{
    ViewData["Title"] = "Home Page";
}

<div class="content">
    <div id="bg">
        <img src="./image/cover.png">
    </div>
    <div class="welcome-section" id="sec1">
        <img class="welcome-image" src="./image/image11.jpg" alt="cover-image" />
        <div class="welcome-text">
            <h2>
                Welcome to Big Daddy`s BBQ
                <br />
            </h2>
            <h3>
                NATURAL FOOD <br />
                REAL SMOKE <br />
                Flavor <br />
                Spicy Juicy<br />
                craft food
            </h3>

        </div>
    </div>
    <div class="story-section" id="sec2">

        <div class="story-text-area">
            <h3 class="discover">
                Discover our<br />
                Story
            </h3>
            <div class="story">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publish.
            </div>
            <h3 class="discover">
                Discover our<br />
                <a href="">Menu</a>
            </h3>
        </div>
        <div class="story-image">
            <img src="./image/story11.jpg" />
        </div>
    </div>
    <div class="about_us-section" id="sec3">
        <div class="team-member">
            <img src="./image/story14.png" />
        </div>
        <div class="about-us">
            <h3 class="discover-story">
                Discover our<br />
                <a href="./about.cshtml">Team</a>
            </h3>
        </div>
        <div class="team-member">
            <img src="./image/story12.png" />
        </div>
    </div>
</div>


