@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Menu";
}
<div class="content-menu">
    <div id="bg">
        <img src="./image/cover.png">
    </div>
    <h2 class="menu">Menu</h2>
    <div class="menu-conteiner" id="menu-sec1">
        <span class="menu-title">
            Steak
        </span>
        <div class="menu-area">
            <div class="menu-title-picture">
                <img src="~/image/steak3.jpg" />
            </div>
            <div class="menu-items">
                <table class="menu-items">
                    <tr>
                        <th>    </th>
                        <th>Price</th>
                    </tr>
                    <tr>
                        <td>T-bone</td>
                        <td>7000 amd</td>
                    </tr>
                    <tr>
                        <td>Machete</td>
                        <td>8500 amd</td>
                    </tr>
                    <tr>
                        <td>Scirt steak</td>
                        <td>5000 amd</td>
                    </tr>
                    <tr>
                        <td>New York steak</td>
                        <td>7000 amd</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>