@model List<Categories>
<div>
    <a asp-controller="Categories" asp-action="Create" class="btn btn-primary">
        Create
    </a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>

            </tr>
        </thead>

        <tbody>
            @foreach (var categories in Model)
            {
                <tr>
                    <td>
                        @categories.Id
                    </td>
                    <td>
                        @categories.Name
                    </td>
                    <td>
                        @categories.Description
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>