@model Product

<div>
    <form asp-controller="Products" asp-action="Edit">
        <div class="mb-3">
            <label asp-for="Id" class="form-label">
                ID
            </label>
            <input asp-for="Id" class="form-control" readonly />
        </div>

        <div class="mb-3">
            <label asp-for="Name" class="form-label">
                Name
            </label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Description" class="form-label">
                Description
            </label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="UnitPrice" class="form-label">
                Unit Price
            </label>
            <input asp-for="UnitPrice" class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="Quantity" class="form-label">
                Quantity
            </label>
            <input asp-for="Quantity" class="form-control" />
        </div>
        
        <div class="mb-3">
            <label asp-for="TypeId" class="form-label">
                Type
            </label>
            <select asp-for="TypeId" class="form-control">
                <option value="">
                    Please Select
                </option>
               
                @foreach (var type in ViewBag.ProductTypes as List<ProductType>)
                {
                    <option value="@type.Id">@type.Name</option>
                }
            </select>
        </div>
        <div class="mb-3">
            <label asp-for="UnitOfMeasureId" class="form-label">
                Unit Of Measure
            </label>
            <select asp-for="UnitOfMeasureId" class="form-control">
                <option value="">
                    Please Select
                </option>
                
                @foreach (var unitOfMeasure in ViewBag.UnitOfMeasures as List<UnitOfMeasure>)
                {
                    <option value="@unitOfMeasure.Id">@unitOfMeasure.Name</option>
                }
            </select>
        </div>

        <div>
            <a asp-controller="Products" asp-action="Index" class="btn btn-secondary">
                Cancel
            </a>
            <button type="submit" class="btn btn-primary">
                Save
            </button>
        </div>
    </form>
</div>