@model List<Size>

    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
            </thead>

            <tbody>
                @foreach(var size in Model)
                {
                    <tr>
                        <td>@size.Id</td>
                        <td>@size.Name</td>
                        <td>@size.Description</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
